// .hero-banner {
//   background-image: url(../assets/images/hero-bg.png);
//   background-repeat: no-repeat;
//   background-size: 100%;
//   height: 732px;
//   padding: 0 0 113px;
//   background-color: #eebece;
// }

.hero-banner {
  height: 800px;
  background-image: url(../assets/images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #eebece;
  margin: auto;
}
