.main-section {
  padding: 2rem 0 2rem 0;
  background-color: #eebece;
  width: 100%;
  margin-top: 2.3rem;

  .main-image {
    img {
      float: right;
    }
  }
  .main-container {
    .main-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10rem 10rem 5rem 20em;
      blockquote {
        text-align: right;
        font-size: 21px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.52;
        letter-spacing: -0.75px;
        text-align: right;
        color: #000000;
        margin-bottom: 2rem;
      }
      h5 {
        text-align: right;
        font-size: 21px;
        font-weight: 600;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-section {
    padding: 2rem 0 2rem 0;
    background-color: #eebece;
    width: auto;
    margin-top: -3rem;

    .main-image {
      img {
        float: right;
      }
    }
    .main-container {
      .main-wrapper {
        display: block;
        padding: 14rem 1.5rem 0 10rem;
        blockquote {
          font-size: 16px;
        }
        h5 {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .main-section {
    padding: 2rem 0 2rem 0;
    background-color: #eebece;
    width: auto;
    margin-top: -3rem;

    .main-image {
      img {
        float: right;
      }
    }
    .main-container {
      .main-wrapper {
        display: block;
        padding: 15rem 1.5rem 2rem 0.7rem;
        blockquote {
          font-size: 16px;
        }
        h5 {
          font-size: 16px;
        }
      }
    }
  }
}
